@import '../../variables';

#login {
  margin: 10% auto;
  text-align: center;
}

.loginBtn {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.loginBtn:hover {
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  border-color: var(--primary);
  color: var(--primary);
  background-color: var(--on-primary);
}

.skewBtn {
  width: 180px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  &:hover {
    border: none;
    color: var(--on-primary);
    background-color: var(--primary);
    font-size: 25px;
    transform: scale(1.05);
  }
}

p {
  margin-top: 20px;
  font-size: 90%;
  font-style: italic;
}
